[submodule "prototipo1-beta"]
	path = prototipo1-beta
	url = git@github.com:JDinis99/IPM.git
[submodule "prototipo1-release"]
	path = prototipo1-release
	url = git@github.com:JDinis99/IPM.git
[submodule "prototipo2-beta"]
	path = prototipo2-beta
	url = git@github.com:JDinis99/IPM.git
[submodule "prototipo2-release"]
	path = prototipo2-release
	url = git@github.com:JDinis99/IPM.git
[submodule "prototipo3-beta"]
	path = prototipo3-beta
	url = git@github.com:JDinis99/IPM.git
